.how-to-use-section {
  width: 1040px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 4px;
  overflow: hidden;
}

.how-to-use-title {
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 14px;
  background-color: #31313c;
}

.how-to-use-grid {
  display: flex;
  gap: 1px;
}

.how-to-use-grid-item {
  width: 260px;
  height: 230px;
  padding: 8px;
  background-color: #31313c;
  font-size: 20px;

  &:hover {
    .how-to-use-image {
      transform: scale(1.07);
    }
  }
}

.how-to-use-grid-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  p {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
  }
}

.how-to-use-image {
  width: 100px;
  height: 100px;
  transition: all 0.3s ease; // 부드러운 전환 효과
}
